@font-face {
  font-family: Raleway-Medium;
  src: local("Raleway-Medium"), url(./Raleway-Medium.ttf);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;

  height: 95vh;
  background-color: rgb(32, 0, 64);

  font-family: Raleway-Medium;
}

header h1 {
  color: rgb(16, 119, 60);
}

main {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
  /* grid-auto-rows: max-content; */
}

input {
	width: 10rem;
  background-color: rgb(64, 0, 128);
  color: white;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
}

main .buscarXnombre {
  /* grid-column: 1 / 2; */
  /* grid-row: 1 / 2; */

  /* margin: 3rem; */

	justify-self: center;

	/* margin-left: 5rem; */

  display: grid;
  grid-template-columns: 1fr 1fr;
	align-content: center;
	align-items: center;
}

main .buscarXnombre #lugar {
	grid-column: 1 / 2;
	
	width: 15rem;

  margin: 0.5rem;

  border-radius: 0.5rem;
	border-style: none;
	
		
}

main .buscarXnombre .lugarBoton {
	grid-column: 2 / 3;
	align-self: center;
	width: 3rem;
	cursor: pointer;

}

main .buscarCoordenadas {
  /* grid-column: 2 / 3; */
  /* grid-row: 1 / 2; */

  /* margin: 3rem; */

	justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
	align-content: center;
	align-items: center;
}

main .buscarCoordenadas #latitud {
	align-self: flex-end;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  margin: 0.5rem;

  border-radius: 0.5rem;
  border-style: none;
}

main .buscarCoordenadas #longitud {
	align-self: flex-start;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  margin: 0.5rem;

  border-radius: 0.5rem;
  border-style: none;
}

main .buscarCoordenadas .coordenadasBoton {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
	align-self: center;
	
	width: 3rem;
	cursor: pointer;
}

main .contenedorInfo {
  /* grid-column: 1 / 3; */
  /* grid-row: 2 / 3; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  justify-items: center;
  gap: 2rem;
  margin: 0.5rem;
  margin-top: 2rem;

  color: white;
}

main .contenedorInfo .primerDiv {
  border-style: none;
  border-color: white;
  text-align: center;
  font-size: 1.5rem;

  background-color: rgb(24, 0, 48);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem white;
}

main .contenedorInfo .primerDiv .lugar {
  margin: 1rem;
  font-size: 2rem;
}

main .contenedorInfo .primerDiv .temperatura {
  font-size: 4rem;
}

main .contenedorInfo .segundoDiv {
  border-style: none;
  border-color: white;
}

main .contenedorInfo .contenedor {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;

  background-color: rgb(24, 0, 48);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem white;
}

main .contenedorInfo .contenedor .titulo {
  text-align: start;
  margin: 0.5rem;
}

main .contenedorInfo .contenedor img {
  justify-self: end;
  height: 3rem;
  margin: 0.5rem;
}
main .contenedorInfo .contenedor .valor {
  grid-column: 1 / 3;
  font-size: 3rem;
  margin-top: 0;
}

main .contenedorInfo .tercerDiv {
  border-style: none;
  border-color: white;
}

main .contenedorInfo .tercerDiv .tituloViento {
  font-size: 2rem;
}

main .contenedorInfo .tercerDiv .contenedor .flecha {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 5rem;
}

main .contenedorInfo .tercerDiv .contenedor .flecha img {
color: white;
}

main .contenedorInfo .tercerDiv .contenedor .direccion {
  font-size: 1rem;
}

main .contenedorInfo .cuartoDiv {
  border-style: none;
  border-color: white;
}

.resultados {
  border-style: solid;
  border-color: orangered;
  width: max-content;
}

.resultado {
  margin: 0.5rem;
  color: white;
}

footer {
  text-align: center;
  color: white;
}
